@import "./reset.css";
@import "~highlight.js/styles/default.css";
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(./fonts.css);

html {
  scroll-behavior: smooth;
}

.searchTime {
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #1a1e23;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #12f7d6;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #12f7d6;
}

.active-navigation {
  background-color: white;
  color: #292f36;
  transition: all 0.2s ease;
}

.ProseMirror-focused {
  outline: none !important;
}

blockquote {
  padding: 1rem 2.5rem;
  margin: 1.5em 0;
  border-left: 5px solid #4caf50;
  background: #f0f4f8;
  color: #333;
  position: relative;
}

blockquote::before {
  content: "\201C";
  font-size: 4em;
  color: #4caf50;
  position: absolute;
  top: -10px;
  left: 10px;
}

/* code {
  display: inline-block;
  background-color: #1a1e23;
  color: #75b4d4;
  padding: 1rem;
  border-radius: 5px;
  font-family: "Fira Code", monospace; 
  overflow-x: auto;
  font-size: 14px;
} */

.tiptap pre {
  display: block;
  overflow-x: auto;
  margin: 1.5rem 0;
  padding: 1rem 1.8rem;
  border-radius: 0.5rem;
  font-family: "JetBrainsMono", monospace;
  color: #57c0d7;
  background: #1a1e23;
}

.tiptap pre code {
  padding: 0;
  font-size: 0.9rem;
  letter-spacing: 0.07rem;
  line-height: 1.8rem;
  color: inherit;
  background: none;
}
