/* Ubuntu */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap");
/* IBM Plex Mono */
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500&display=swap");
@import "./reset.css";

@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(./fonts.css);

html {
  scroll-behavior: smooth;
}

.searchTime {
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: #1a1e23;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #12f7d6;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #12f7d6;
}

.active-navigation {
  background-color: white;
  color: #292f36;
  transition: all 0.2s ease;
}

.ProseMirror-focused {
  outline: none !important;
}
