.adminLayout {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: minmax(200px, 300px) 1fr;
  grid-template-rows: 80px auto 72px;
  transition: all 0.2s ease-in;
}
.adminHeader {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}
.adminAside {
  grid-column: 1 / 2;
  grid-row: 1 / 4;
}
.adminMain {
  grid-column: 2 / 3;
  grid-row: 2 / 4;
}
.adminFooter {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

@media screen and (max-width: 1280px) {
  .adminLayout {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: minmax(40px, 60px) 1fr;
    grid-template-rows: 80px auto 72px;
    transition: all 0.2s ease-in;
  }
  .adminHeader {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
  .adminAside {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
  }
  .adminMain {
    grid-column: 2 / 3;
    grid-row: 2 / 4;
  }
  .adminFooter {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }
}
@media screen and (max-width: 768px) {
  .adminLayout {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80px 1fr 2fr 72px;
  }
  .adminHeader {
    grid-column: 1 / 1;
    grid-row: 1 / 2;
  }
  .adminAside {
    grid-column: 1 / 1;
    grid-row: 2 / 3;
  }
  .adminMain {
    grid-column: 1 / 1;
    grid-row: 3 / 4;
  }
  .adminFooter {
    grid-column: 1 / 1;
    grid-row: 4 / 5;
  }
}
