@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #181818;
  color: white;
}
